body {
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #9376e2 !important;
}

img {
  max-width: 100%;
  max-height: 80%;
  margin-top: 5px;
}

.navbar-material,
.nav-wrapper,
.brand-logo {
  height: 64px !important;
}

.smallLogoMobile {
  font-size: 20px;
  color: #745dc6;
  margin: 10px;
}

.page-footer {
  bottom: 0px;
  width: 100%;
  background-color: #745dc6 !important;
}

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #745dc6 !important;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #745dc6 !important;
  box-shadow: 0 1px 0 0 #745dc6 !important;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

/* label focus color */
.input-field input[type="number"]:focus + label {
  color: #745dc6 !important;
}
/* label underline focus color */
.input-field input[type="number"]:focus {
  border-bottom: 1px solid #745dc6 !important;
  box-shadow: 0 1px 0 0 #745dc6 !important;
}
/* valid color */
.input-field input[type="number"].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type="number"].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.btn {
  background-color: #745dc6 !important;
  margin-top: 8px;
}

.modalBodyResult {
  color: green;
}

.modalBodyError {
  color: brown;
}

.headerContainer {
  margin: 0 auto;
  display: block;
  background-image: url("./images/bannerBackground.jpg");
  background-repeat: no-repeat;
  min-height: 367px;
  text-align: center;
}

.textHeadContainer {
  position: absolute;
  top: 25%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#occsText {
  color: #9376e2;
}
